    <title><%= title %> I'm <%= name %>.</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
