
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <main class="container">
      <header class="header">
        <%- include('partials/header'); -%>
      </header>
      <article class="article">
        <%- include('partials/main'); -%>
      </article>
      <footer class="footer">
        <%- include('partials/footer'); -%>
      </footer>
    </main>
    
  </body>
</html>