<!DOCTYPE html>
<!-- HELLO HACKER ! Site design & coding by François Lesenne <https://francoislesenne.xyz>. 
    Open source code <https://github.com/francoislesenne/francoislesenne.github.io>. 
-->
<html lang="{{ site.lang }}" class="no-js">
    {% include head.html %}
    <body  class="c-bg-color-animate">
        {% include header.html %}
        <main class="o-main" role="main">
            {{ content }}
        </main>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>